<ion-tabs>
  <ion-tab-bar slot="bottom" style="background-color: rgb(117, 10, 2);">
    <ion-tab-button tab="tab1" style="color: rgb(117, 10, 2);">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Strona główna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="color: rgb(117, 10, 2);">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Wiadomości</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="color: rgb(117, 10, 2);">
      <ion-icon name="square"></ion-icon>
      <ion-label>Pogoda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
