.wrap {
  height: 100vh;
  background-color: #091921;
  background-image: url("../../assets/mariacki.png");
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #ee004f;
    font-size: 2rem;
  }
  p {
    color: white;
  }
}
