<ion-content>
  <div class="wrap">
    <h1>Pogoda w Krakowie</h1>

    <p>Temperatura: {{ data.main.temp }} °C</p>
    <p>Temperatura odczuwalna: {{ data.main.feels_like }} °C</p>
    <p>Ciśnienie atmosferyczne: {{ data.main.pressure }} hPa</p>

    <img
      *ngIf="desc == 'broken clouds'"
      src="../../assets/clouds.png"
      alt="clouds"
      width="25%"
    />
    <img
      *ngIf="desc == 'clear sky'"
      src="../../assets/sun.png"
      alt="sun"
      width="25%"
    />
  </div>
</ion-content>
