<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: rgb(117, 10, 2);">
      Strona główna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrap">
    <h1>Witaj !</h1>
    <h6>Dzisiaj jest: {{todayDate | date:'fullDate'}}</h6>
    <div [ngSwitch]="day">
      <h6 *ngSwitchCase="1">Poniedziałek</h6>
      <h6 *ngSwitchCase="2">Wtorek</h6>
      <h6 *ngSwitchCase="3">Środa</h6>
      <h6 *ngSwitchCase="4">Czwartek</h6>
      <h6 *ngSwitchCase="5">Piątek</h6>
      <h6 *ngSwitchCase="6">Sobota</h6>
      <h6 *ngSwitchCase="7">Niedziela</h6>
    </div>
  </div>
</ion-content>
